.input-tasks{
    width: 40vw;
    margin: 1vw;
    padding: 2vh;
    position: relative;
    top: 20vh;
    right: 15vw;
    font-size: large;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.add-button{
    width: 2vw;
    height: 5vh;
    font-size: large;
    position: relative;
    top: 20vh;
    right: 15vw;
    cursor: pointer;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.entered-tasks{
    margin: 0vh 5vh -8vh 5vh;
}

.checkbox-tasks{
    width: 2vw;
    height: 5vh;
    position: relative;
    bottom: 1vh;
    right: 6vh;
    color: #ffffff
}

.added-tasks{
    width: 38.6vw;
    height: 5vh;
    margin: 2vh;
    padding: 1vh 0vh 1vh 0vh;
    position: relative;
    top: 20vh;
    right: 13.5vw;
    font-size: large;
    border-radius: 0.5rem;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    text-wrap:stable;

} 

.edit-button{
    width: 2vw;
    height: 5vh;
    font-size: large;
    position: absolute;
    bottom: 0vh;
    left: 39.5vw;
    cursor: pointer;
    border-radius: 0.5rem;
    
}

.delete-button{
    width: 2vw;
    height: 5vh;
    font-size: large;
    position: absolute;
    bottom: 0vh;
    left: 41.5vw;
    cursor: pointer;
    border-radius: 0.5rem;
    
}